@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600;700&display=swap');
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: #92A8DA;
  background-color: #101820;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.mainvisual__img {
  width: 400px;
}


.mainvisual__img img {
  width: 100%;
}

.mainvisual__title h1 {
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 3rem;
  color: #F2DDDE;
}



.mail {
  position: absolute;
  right: 30px;
  bottom: 25px;
}

.mail span {
  letter-spacing: 2px;
  font-weight: 300;
  cursor: pointer;
  color: #F2DDDE;
}



@media screen and (max-width: 568px) {

  .mainvisual__img {
    width: 300px;
  }
  
  
  
  
  .mainvisual__title h1 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 2.2rem;
    color: #F2DDDE;
  }

}



